.formWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__form {
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 218, 218, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 20px 10px 50px rgba(0, 0, 0, 0.5);
  }
  &__label {
    margin-top: 15px;
    font-size: 2.2rem;
    color: $base-color;
  }
  &__input {
    padding: 7px 10px;
    margin-top: 7px;
  }
  &__button {
    padding: 8px 18px;
    margin-top: 15px;
    font-size: 1.6rem;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: $background;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    &:hover {
      background-image: $background;
    }
  }
  .textWrapper {
    z-index: 100;
    &__register {
      margin-top: 10px;
      font-size: 1.6rem;
      color: white;
      cursor: pointer;
      &:hover {
        color: $base-color;
        text-decoration: underline;
      }
    }
  }
}
@keyframes blueSquareMove {
  0% {
    left: 30%;
    top: 15%;
  }
  100% {
    top: 65%;
  }
}

@keyframes violetSquareMove {
  0% {
    left: 75%;
    top: 45%;
  }
  100% {
    left: 35%;
  }
}

// JS
.registerActive {
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .formWrapper {
    &__form {
      width: 50vw;
      height: 30vh;
    }
    &__label {
      font-size: 2.6rem;
    }
    &__input {
      padding: 7px 10px;
      margin-top: 7px;
    }
    &__button {
      padding: 10px 18px;
    }
  }
  @keyframes violetSquareMove {
    0% {
      left: 60%;
      top: 45%;
    }
    100% {
      left: 15%;
    }
  }
}
@media (max-width: 540px) {
  .formWrapper {
    &__form {
      width: 70vw;
      height: 40vh;
    }
  }
  @keyframes violetSquareMove {
    0% {
      left: 30%;
    }
    100% {
      left: 2%;
    }
  }
}

@media (max-width: 414px) {
  @keyframes blueSquareMove {
    0% {
      left: 20%;
      top: 15%;
    }
    100% {
      top: 55%;
    }
  }
  @keyframes violetSquareMove {
    0% {
      left: 10%;
      top: 55%;
    }
    100% {
      left: 10%;
      top: 15%;
    }
  }
}
@media (max-width: 375px) {
  &__circle {
    width: 100px;
    height: 100px;
  }
  @keyframes blueSquareMove {
    0% {
      left: 5%;
      top: 5%;
    }
    100% {
      top: 50%;
    }
  }
}
